{% load static %}
<header class="header">
    <nav class="navbar">
        <div class="brand">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="KKS Infotech logo" class="w-10 h-10 bg-white rounded p-1">
                KKS Infotech
            </a>
        </div>
        <div class="main-menu" id="main-menu">
            <ul>
                <li><a href="{% url 'home' %}" class="main-menu-links">Home</a></li>
                <li><a href="{% url 'about' %}" class="main-menu-links">About</a></li>
                <li><a href="{% url 'contact' %}" class="main-menu-links">Contact</a></li>
            </ul>
            <a href="{% url 'super_admin_dashboard' %}" class="login">Login</a>
        </div>
        {% comment %}  {% endcomment %}
        <div class="md:hidden text-white text-3xl font-bold" onclick="show_menu(this)">&#9776;</div>
    </nav>    
</header>

<script>
    const mainMenu = document.getElementById('main-menu');
    const mainMenuLinks = document.querySelectorAll('.main-menu-links');
    mainMenuLinks.forEach((e) => {
        console.log(window.location.href);
        console.log(e.href);
        if(e.href === window.location.href){
            e.classList.add('active');
        }else{
            e.classList.remove('active');
        }
    });
    function show_menu(e){
        mainMenu.classList.toggle('show-main-menu');
    }
</script>