{% extends "theme/main.html" %}

{% block title %}Home - KKS Infotech SMS{% endblock title %}

{% block content %}
    <section class="hero bg-stone-200 shadow-lg mb-4 p-8">
        <h2 class="text-2xl font-bold text-center text-rose-800 mb-4">World class No. 1 School Management System (SMS)</h2>
        <p class="text-justify w-full lg:w-2/3 px-6 m-auto leading-relaxed text-shadow-sm text-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, reiciendis similique! Delectus temporibus sunt veniam vitae quod labore itaque eveniet fuga ad voluptatibus. Exercitationem ratione repellendus nam, iure veniam, distinctio sequi dolorem quidem possimus animi tempore rem architecto vel omnis assumenda a incidunt, commodi quos magni excepturi. Obcaecati vero aspernatur maxime. Magni quam, similique optio ratione quae dolores in quibusdam omnis dignissimos? Laboriosam similique corrupti et tenetur distinctio impedit ipsa atque, voluptatem blanditiis repellat doloremque porro! Non neque illum ea!</p>
        <div class="text-center mt-8">
            <a href="{% url 'home' %}" class="pl-4 pr-12 py-2 rounded bg-rose-800 text-white hover:bg-rose-700 transition-all duration-300 ease-in-out text-xl font-bold relative hover:[&_span]:right-2">Learn More <span class="text-3xl absolute top-1/2 right-4 -translate-y-1/2 transition-all duration-300 ease-in-out">→</span></a>
        </div>
    </section>
{% endblock content %}