.main-layout{
    width: 100dvw;
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr;
    grid-template-areas: "header header"
    "sidebar main"
    "footer footer";
}

.header{
    grid-area: header;
    background-color: blue;
    position: sticky;
    top: 0;
    left: 0;
}

.sidebar{
    grid-area: sidebar;
    background-color: yellowgreen;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}