.main-layout{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(200px, 1fr) 4fr;
    grid-template-areas: "header header"
    "sidebar main"
    "footer footer";
    gap: 1rem;
    align-items: start;
}

.header{
    width: 100%;
    grid-area: header;
    background-color: blue;
    position: sticky;
    top: 0;
    left: 0;
}

.sidebar{
    grid-area: sidebar;
    background-color: yellowgreen;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}